.row{
	display:flex;
	justify-content:left;

}
.cell{

	border:1px solid black;
	width: 100px;
  	height: 100px;
}

.symbol__x{

	width: 100px;
	w

}

.symbol__o{
	
	width: 90px;
	
}

.symbol__blank{

	width: 90px;
	font-size: 600%;

	color: white;
	display: flex;
	justify-content: center;

}
